:root {
    --primary-color: hsl(285, 95%, 35%);
    --darker-purple: hsl(280, 85%, 20%);
    --brigther-purle: hsl(287, 80%, 45%);
    --white: #ccc;
    --gray: hsl(0, 0%, 40%);
    --border-nav: 1px solid var(--gray);
    --logo: 'Corinthia', cursive;
    --mainFont: 'Roboto', sans-serif;
    --titleFont: 'Roboto Slab', serif;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--mainFont);

    background-color: #222;
    color: white;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--darker-purple), var(--brigther-purle), var(--darker-purple));
    border-radius: 10px;
}

a{
    text-decoration: none;
}



footer {
    background-color: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

footer em {
    font-style: italic;
}
