#cursos {
    display: flex;
    flex-direction: column;
}


.curso {
    display: flex;
    flex-direction: column;
    align-items: center;


    font-size: 1.6rem;
    line-height: 1.5;


    padding: 100px 0;
    gap: 50px;

    border-bottom: 1px solid rgba(107, 107, 107, 0.5);
}

.curso:last-child{
    border-bottom: none;
}


.curso-img {
    width: 100%;
    max-width: 300px;
}

.curso__titulo {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    font-family: var(--titleFont);
}

.curso__titulo--container{
    text-align: center;
}

.periodo {
    font-size: 1.25rem;    
}