header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--mainFont);

    padding: 0 10%;
    position: relative;

    height: 100vh;    
}


.parallax {
    background: url(../img/bg-header-resize.png) center/cover no-repeat fixed;
}

.parallax::after {
    content: '';


    height: 100%;
    width: 100%;

    
    left: 0;
    position: absolute;
    z-index: 10;


    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.4) 0, #000 95%);
    backdrop-filter: blur(0px);
}

.header__title {
    font-size: 5rem;
    text-shadow: 0px 0px 20px #000;

    z-index: 20;
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 20px;


    font-size: 2.25rem;
    font-weight: 700;    
    text-shadow: 0px 0px 20px #000;


    z-index: 20;
}

.social__links {
    margin: 20px 0;

    display: flex;
    justify-content: flex-start;
    gap: 45px;

    z-index: 20;
}

.social__icon {
    height: 60px;
    color: var(--primary-color);
    transition: 0.6s ease-in-out;
}


.social__icon:hover {
    transform: scale(1.2);
}

.profile-pic {
    height: 100%;
    max-height: 350px;

    border-radius: 50%;

    box-shadow: -15px 8px 0px 5px var(--darker-purple);

    z-index: 20;
}