:root {
    --primary-color: hsl(287, 100%, 36%);
    --darker-purpler: #38044d;
    --brigther-purle: hsl(285, 100%, 50%);
    --white: #ccc;
    --gray: hsl(0, 0%, 40%);
    --border-nav: 1px solid var(--gray);
    --logo: 'Corinthia', cursive;
    --mainFont: 'Roboto', sans-serif;
    --titleFont: 'Roboto Slab', serif;
}


html {
    font-size: 62.5%;
}

body {
    font-family: var(--mainFont);
    background-color: #222;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    backdrop-filter: blur(15px);
    padding: 10px 40px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}



.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}



#logo{
    font-family: var(--logo);
    font-size: 5.5rem;
    color: var(--brigther-purle);
    text-shadow: 2px 2px 1px black;
}

#logo:active{
    color: var(--primary-color);
}


.links__container {    
    display: flex;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    position: relative;
    padding:  0 5px;
}

.nav__link::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 3px;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease-in-out;
    width: 100%;
    transform: scaleX(0%);
}

.nav__link:hover::after{
    transform: scaleX(100%);
}



header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-family: var(--titleFont);
    padding: 0 10%;
    height: 100vh;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.parallax{
    background-image: url(../img/bg-header.png);    
}

.parallax::after{
    content: '';   
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, #000 110%);
    backdrop-filter: blur(1px);
}





.header__title{
    font-size: 10rem;
    text-shadow: 0px 0px 20px #000;
}

.header__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 5rem; 
    font-weight: 700; 
    z-index: 20;  
    text-shadow: 0px 0px 20px #000;
    
}



.social__links{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    z-index: 20;
}


.social__icon{
    height: 80px;
    color: var(--primary-color);
    transition: 0.6s ease-in-out;
}

.social__icon:hover{
    color: #eee;
    transform: scale(1.2);
}


#downloadCV{
    margin-top: 50px;
    background-color: transparent;
    background: linear-gradient(to left, transparent 50%,var(--darker-purpler) 100%) right;
    background-size: 400%;
    color: var(--white);
    font-family: var(--titleFont);
    font-size: 4rem;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 40px;    
    border: 3px solid var(--primary-color);
    transition: background-position 0.7s ease-in-out, transform 0.1s ease;
}



#downloadCV:hover{
    background-position: left;
}

#downloadCV:active{
    transform: scale(.95);
}



.profile-pic{
    height: 100%;
    max-height: 450px;
    border-radius: 50%;
    box-shadow: -15px 8px 0px 5px var(--darker-purpler);
    z-index: 20;  
}

.container{    
    background: radial-gradient(ellipse at bottom, #100018 -30%, #000000 100%); 
    background-color: #000;
}

.content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}



.section{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: justify;
    line-height: 1.2;
    color: var(--white);
}



.section__title{
    margin-top: 200px;
    width: 100%;
    border-bottom: 2px solid var(--darker-purpler);
    text-align: center;
    font-size: 6rem;    
    font-family: var(--titleFont);
    font-weight: 700;
}

section p{
    margin: 0 auto;
    margin-top: 8rem;
}

.sub-section__title{
    margin: 100px 0 50px 0;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
}



.section__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.frame{
    display: flex;    
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 2rem;
}

.hobbie__img,
.soft-skill{
    width: 180px;
    background: linear-gradient( to bottom, hsl(285, 80%, 20%), hsl(280, 70%, 85%), hsl(280, 85%, 15%));
    padding: 10px;
    border-radius: 20px;    
}


.soft-skill:hover,
.hobbie__img:hover{
    box-shadow: 0px 0px 10px 1px var(--brigther-purle);    
}


.hard-skill{
    height: 100px;
}


.soft-skills{
    display: flex;
    gap: 40px;
}













