:root {
    --primary-color: #9000b8;
    --darker-purple: #38044d;
    --brigther-purle: hsl(285, 100%, 50%);
    --white: #ccc;
    --gray: hsl(0, 0%, 40%);
    --border-nav: 1px solid var(--gray);
    --logo: 'Corinthia', cursive;
    --mainFont: 'Roboto', sans-serif;
    --titleFont: 'Roboto Slab', serif;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--mainFont);
    background-color: #222;
    color: white;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--darker-purple), var(--brigther-purle), var(--darker-purple));
    border-radius: 10px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 20%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

#logo {
    font-family: var(--logo);
    font-size: 3rem;
    color: var(--brigther-purle);
    text-shadow: 2px 2px 1px black;
}

#logo:active {
    color: var(--primary-color);
}


.links__container {
    display: flex;
}

.nav__link {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
    position: relative;
    padding: 0 5px;
}

.nav__link::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 3px;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease-in-out;
    width: 100%;
    transform: scaleX(0%);
}

.nav__link:hover::after {
    transform: scaleX(100%);
}

.nav__link.active::after {
    transform: scaleX(100%);
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--titleFont);
    padding: 0 10%;
    height: 100vh;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parallax {
    background-image: url(../img/bg-header-01.jpg);
}

.parallax::after {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 95%);
    backdrop-filter: blur(2px);
}

.header__title {
    font-size: 5rem;
    text-shadow: 0px 0px 20px #000;
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 2.25rem;
    font-weight: 700;
    z-index: 20;
    text-shadow: 0px 0px 20px #000;
}

.social__links {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    gap: 45px;
    z-index: 20;
}

.social__icon {
    height: 60px;
    color: var(--primary-color);
    transition: 0.6s ease-in-out;
}

.social__icon:hover {
    color: #eee;
    transform: scale(1.2);
}

.hollow {
    background-color: transparent;
    background: linear-gradient(to left, transparent 50%, var(--darker-purple) 100%) right;
    background-size: 400%;
    color: var(--white);
    font-family: var(--titleFont);
    font-size: 2rem;
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    border: 3px solid var(--primary-color);
    transition: background-position 0.4s ease-in-out, transform 0.1s ease;
}

.hollow:hover {
    background-position: left;
}

.hollow:active {
    transform: scale(.95);
}

.download-arrow {
    width: 30px;
    margin-left: 15px;
}

.profile-pic {
    height: 100%;
    max-height: 350px;
    border-radius: 50%;
    box-shadow: -15px 8px 0px 5px var(--darker-purple);
    z-index: 20;
}




.container {    
    background: radial-gradient(ellipse at bottom, #100018 -10%, #000000 90%);
    background-color: #000;
    padding: 0 5%;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}

.section {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: justify;
    line-height: 1.2;
    color: var(--white);
}

.section__title {
    margin-top: 100px;
    width: 100%;
    border-bottom: 2px solid var(--darker-purple);
    text-align: center;
    font-size: 3rem;
    font-family: var(--titleFont);
    font-weight: 700;
}

.about__text {
    margin-top: 4rem;
    font-size: 1.5rem;
}

.sub-section__title {
    margin: 100px 0 50px 0;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
}

.section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin-bottom: 100px;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 1.25rem;
}

.content__box {
    width: 150px;
    background: linear-gradient(to bottom, hsl(283, 35%, 60%), hsl(280, 65%, 10%));
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.content__box:hover {
    box-shadow: 0px 0px 10px 1px var(--brigther-purle);
}

.hard-skill {
    height: 80px;
}

.soft-skills {
    display: flex;
    gap: 40px;
}

#cursos {
    display: flex;
    flex-direction: column;
}

.curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin: 50px 0;
    gap: 50px;
}


.curso-img {
    width: 300px;
}

.curso__titulo {
    font-size: 2.25rem;
    text-align: center;
}



.periodo {
    font-size: 1.25rem;
}

.projeto__thumb {
    width: 45%;
}

.projetos__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
}



.projetos__container .projeto:last-child {
    border-bottom: none;
}


.projeto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(107, 107, 107, 0.5);
    padding: 100px 0;
}

.projeto__descricao {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 1.25rem;
}


.projeto__descricao .projeto__titulo {
    font-family: var(--titleFont);
    font-size: 1.75rem;
}


.projeto__descricao .projetos__lang {
    display: flex;
    gap: 30px;
}

.projeto__descricao .projetos__lang img {
    height: 3rem;
}

.btn__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__container a {
    font-size: 1rem;
    color: var(--white);
    font-family: var(--titleFont);
    padding: 10px;
    box-sizing: border-box;
    width: 10rem;
    text-align: center;
}

.btn__container .fill {
    border: 2px solid var(--primary-color);
    background: linear-gradient(to right, var(--primary-color) 0%, var(--darker-purple) 50%, var(--darker-purple) 100%) right;
    background-size: 200%;
    border-radius: 25px;
    transition: background-position 0.4s ease-in-out, transform 0.1s ease;
}


.btn__container .fill:hover {
    background-position: left;

}

#go-up {
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 200;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in;
    cursor: pointer;
}

#go-up.active {
    opacity: 1;
    transform: scale(1);
}


#contato{
    padding-bottom: 150px;
}

form {
    display: flex;
    flex-wrap: wrap;
}


.form__container{
    padding: 0 10%;
}

.contact__title {
    margin: 40px 0;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: left;
}


.control-form {
    margin-bottom: 1rem;
    width: 10%;
    flex-grow: 1;
    position: relative;
    padding-bottom: 1.5rem;
}

.control-form:first-child {
    margin-right: 60px;
}


.control-form.subject {
    width: 100%;
}


.control-form.msg {
    width: 100%;
}

label {
    font-size: 1.25rem;
    padding-left: 5px;
}


textarea,
input {
    margin-top: 6px;
    width: 100%;
    border: none;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid var(--primary-color);
    background: hsla(0, 0%, 1%, 0.3);
    color: var(--white);
}

input.error-form {
    border-bottom: 1px solid red;
}

textarea {
    height: 16rem;
    padding: 1rem;
    resize: none;
}

textarea::placeholder,
input::placeholder {
    color: hsl(0, 0%, 20%);
    font-family: var(--mainFont);
}


textarea:focus,
input:focus{
    outline: none;
    box-shadow: 0 0 30px -10px var(--brigther-purle);
}

.error {
    font-size: 1rem;
    color: red;
    position: absolute;
    left: 2px;
    bottom: 2px;
    display: none;
}

.send {
    padding: 10px;
    margin: 10px auto 100px;
    width: 500px;
    font-size: 2rem;
    color: var(--white);
}

footer {
    background-color: #000;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

footer em {
    font-style: italic;
}

#teste {
    width: 100%;
}