:root {
    --primary-color: #9000b8;
    --darker-purple: #38044d;
    --brigther-purle: hsl(285, 100%, 50%);
    --white: #ccc;
    --gray: hsl(0, 0%, 40%);
    --border-nav: 1px solid var(--gray);
    --logo: 'Corinthia', cursive;
    --mainFont: 'Roboto', sans-serif;
    --titleFont: 'Roboto Slab', serif;
}

*{
    scroll-behavior: smooth;
}


html {
    font-size: 62.5%;
}

body {
    font-family: var(--mainFont);
    background-color: #222;
    color: white;
}

body::-webkit-scrollbar{
    width: 5px;       
  }
body::-webkit-scrollbar-track{
    background-color: transparent;
}


  body::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,  var(--darker-purple), var(--brigther-purle), var(--darker-purple));
    border-radius: 10px;
  }




nav {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    padding: 10px 20%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}






#logo{
    font-family: var(--logo);
    font-size: 5.5rem;
    color: var(--brigther-purle);
    text-shadow: 2px 2px 1px black;
}

#logo:active{
    color: var(--primary-color);
}


.links__container {    
    display: flex;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    position: relative;
    padding:  0 5px;
}

.nav__link::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 3px;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease-in-out;
    width: 100%;
    transform: scaleX(0%);
}

.nav__link:hover::after{
    transform: scaleX(100%);
}




header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-family: var(--titleFont);
    padding: 0 10%;
    height: 100vh;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.parallax{
    background-image: url(../img/bg-header.png);    
}

.parallax::after{
    content: '';   
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, #000 95%);
    backdrop-filter: blur(4px);
}

.header__title{
    font-size: 10rem;
    text-shadow: 0px 0px 20px #000;
}

.header__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 5rem; 
    font-weight: 700; 
    z-index: 20;  
    text-shadow: 0px 0px 20px #000;    
}

.social__links{
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    z-index: 20;
}

.social__icon{
    height: 80px;
    color: var(--primary-color);
    transition: 0.6s ease-in-out;
}

.social__icon:hover{
    color: #eee;
    transform: scale(1.2);
}

.hollow{
    background-color: transparent;
    background: linear-gradient(to left, transparent 50%,var(--darker-purple) 100%) right;
    background-size: 400%;
    color: var(--white);
    font-family: var(--titleFont);
    font-size: 4rem;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 25px;    
    border: 3px solid var(--primary-color);
    transition: background-position 0.4s ease-in-out, transform 0.1s ease;
}

.hollow:hover{
    background-position: left;
}

.hollow:active{
    transform: scale(.95);
}

.download-arrow{
    width: 30px;
    margin-left: 15px;
}

.profile-pic{
    height: 100%;
    max-height: 450px;
    border-radius: 50%;
    box-shadow: -15px 8px 0px 5px var(--darker-purple);
    z-index: 20;  
}




.container{    
    /* border-top: 2px solid var(--darker-purple); */
    background: radial-gradient(ellipse at bottom, #100018 -10%, #000000 90%); 
    background-color: #000;
}

.content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}

.section{
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: justify;
    line-height: 1.2;
    color: var(--white);
}

.section__title{
    margin-top: 200px;
    width: 100%;
    border-bottom: 2px solid var(--darker-purple);
    text-align: center;
    font-size: 6rem;    
    font-family: var(--titleFont);
    font-weight: 700;
}

section p{
    margin: 0 auto;
    margin-top: 8rem;
}

.sub-section__title{
    margin: 100px 0 50px 0;
    font-weight: 700;
    font-size: 4rem;
    text-align: left;
}

.section__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin-bottom: 100px;
}

.frame{
    display: flex;    
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 2rem;
}

.content__box{    
    width: 180px;
    background: linear-gradient( to bottom, hsl(285, 80%, 10%), hsl(280, 70%, 65%), hsl(280, 85%, 10%));
    background: linear-gradient( to bottom, hsl(285, 60%, 10%), hsl(280, 10%, 50%), hsl(280, 65%, 10%));
    padding: 10px;
    border-radius: 20px;
    position: relative;   
}

.content__box:hover{
    box-shadow: 0px 0px 10px 1px var(--brigther-purle);    
}

.hard-skill{
    height: 100px;
}

.soft-skills{
    display: flex;
    gap: 40px;
}


#cursos{
    display: flex;
    flex-direction: column;
}

.curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    margin: 50px 0;
    gap: 40px;
}

.curso-img{
    width: 350px;
}

.curso__titulo{
    font-size: 3.5rem;
    text-align: center;
}


.periodo{
    font-size: 2rem;
}

#projetos{
    display: flex;
    flex-direction: column;
    
}




/* .projeto{
    border: 3px solid hotpink;
} */


.projeto__thumb{
    width: 45%;
}

.projetos__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
}



.projetos__container .projeto:last-child{
    border-bottom: none;
}


.projeto{
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid rgba(107, 107, 107, 0.5);
    padding: 100px 0;
}

.projeto__descricao{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 2rem;    
}


.projeto__descricao .projeto__titulo{
    font-family: var(--titleFont);
    font-size: 2.8rem;
}


.projeto__descricao .projetos__lang{
    display: flex;
    gap: 30px;
}

.projeto__descricao .projetos__lang img{
    height: 50px;
}

.btn__container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__container a{
    font-size: 2rem;
    color: var(--white);
    font-family: var(--titleFont);
    padding: 10px;
    box-sizing: border-box;
    width: 150px;
    text-align: center; 
}

.btn__container .fill{
    border: 2px solid var(--primary-color);
    background: linear-gradient(to right, var(--primary-color) 0%, var(--darker-purple) 50%, var(--darker-purple) 100%) right;
    background-size: 200%;
    border-radius: 25px;
    transition: background-position 0.4s ease-in-out, transform 0.1s ease;
}


.btn__container .fill:hover{
    background-position: left;

}

#go-up{
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 200;  
    opacity: 0;
    transform: scale(0);
    transition: .4s ease-in;
}  

#go-up.active{
    opacity: 1;
    transform: scale(1);     
}






